<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Por Capital</h2>
    <hr>
    <div class="row">
        <div class="col">
            <!-- 
                onEnter es un emisor de eventos, invoca al método
                buscar del componente padre.
                $event es el argumento que recibe
                buscar(termino: string) es una fincion del componente padre
             -->
            <app-pais-input 
                placeholder="Por Capital ..."
                (onEnter)="buscar($event)">
            </app-pais-input> 
        </div>
    </div>
</div>


<hr>
<div *ngIf="isError"
    class="alert alert-danger">
    No se encontraron resultados
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises" ></app-pais-tabla>
    </div>
</div>
